<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bloom-Mobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E7795091CA00E1400A9532D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E77951F1CA00E1500A9532D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E77952A1CA00E1500A9532D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
